body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f8c25f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div, html div {
  width: 600px;
  height: 180px;
  background-image: linear-gradient(to right, #212cab00 14px, #4682b4 14px), linear-gradient(to bottom, #98202000 14px, #4682b4 14px);
  background-size: 15px 100%,100% 15px;
  border: 1px solid #4682b4;
  border-right: none;
  border-bottom: none;
}

body div:after, html div:after {
  content: '';
  position: absolute;
  mix-blend-mode: multiply;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#b60e0e), to(#b60e0e)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4)), -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4));
  background-image: linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#b60e0e, #b60e0e), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4), linear-gradient(#4682b4, #4682b4);
  background-size: 15px 15px, 15px 90px, 45px 15px, 45px 15px, 75px 15px, 75px 15px, 105px 15px, 105px 15px, 180px 15px, 150px 15px, 120px 15px, 60px 15px, 30px 15px, 60px 15px, 15px 90px, 60px 15px, 60px 15px, 15px 60px, 60px 15px, 15px 60px, 60px 15px, 60px 15px, 15px 60px, 60px 15px, 15px 60px, 60px 15px;
  background-position: 45px 30px, 45px 60px, 120px 30px, 225px 30px, 105px 45px, 210px 45px, 90px 60px, 195px 60px, 105px 75px, 120px 90px, 135px 105px, 165px 120px, 180px 135px, 315px 30px, 315px 45px, 315px 135px, 405px 30px, 405px 30px, 405px 75px, 450px 75px, 405px 135px, 495px 30px, 495px 30px, 495px 75px, 540px 75px, 495px 135px;
}
/*# sourceMappingURL=main.css.map */